*{
    margin: 0;
    padding: 0;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    /* variaveis que eu criei usando o :root */
    /*  dois tracinhos "--" depois o nome da variavel. E depois ":" e o valor, que seria qualquer css. */
    --Font-Light: 300;
    --Font-Normal: 400;
    --Font-Medium: 500;
    --Font-SemiBold: 600;
    --Font-Bold: 700;
}

#top-header{
    /* posição */
    position: fixed;
        width: 100%;
        text-align: center;    
        height: 15px;
        line-height: 15px;
    /* plano de fundo */
    background-color: #FFD600;
    /*--font--*/
    font-size: 11px;
        font-weight: var(--Font-SemiBold);
}

#central-header{
    /* posição  */
    position: fixed;
        width: 100%;
        height: 100px;
        margin-top: 15px;
    /* plano de fundo */
    background-color: #2E3191;

    display: flex;
    align-items: center;
    justify-content: center;
        
}
#base-header{
    /* posição */
    position: fixed;
        width: 100%;
        height: 28px;
        margin-top: 115px;
    /* plano de fundo */
    background-color: #222137;
    /* fonte */
    font-size: 14px;
        font-weight: 400
}

#nav-base-header nav ul{
    display: flex;
    justify-content: center;
    line-height: 28px;
    gap: 100px;

    /* decoração */
    list-style-type: none;  
}
#nav-base-header a{
    text-decoration: none;
    color: rgb(190, 190, 190);
}



/* componentes internos do header central */


/*--------- geral-------- */
/* --botes iguais-- */
.btn-header{
    /* dimensões */
        height: 30px;
        width: 42px;
    /* borda */
        border-radius: 16px;
    background-color: white;
    display: flex;
    cursor: pointer;
}

.btn-header svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    stroke-width: 2px;
}
#svg-heart svg{
    position: relative;
    top: 20px;
}
/* --alinhamento---- */
#components-central{
    display: flex;
    align-items: center;
    gap: 22px;
    margin-right: 70px;
}
/* -----sections----------- */
#central{
    display: flex;
    gap: 15px;
}
#esquerda {
    display: flex;   
}
#direita{
    display: flex;
    gap: 10px;
}
/*---------fim------------ */

/* ------------------------ */
#logo-header{
    display: flex;
    margin: 0;
    padding: 0;
}
#logo{
    display: flex;
    margin: 0;
    padding: 0;
    width: 300px
}
/* ------------------------ */
/* -----btn-categorias----- */

#btn-categorias{
    display: flex;
    line-height: 55px;
    color: white;
    gap: 5px;
    cursor: pointer;
}
#btn-categorias svg{
    position: relative;
    top: 20px;
}
/* -------Search -----------*/



#form-pesquisa{
    display: flex;
}
#input-pesquisa{
    /* dimensões */
    width: 470px;
    height: 30px;
    /* estilos */
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left:5px;
}
#input-pesquisa::-webkit-search-cancel-button,
#input-pesquisa::-webkit-search-clear-button {
    display: none;
}
#icone-search{
    position: relative;
    top: 3px;
    right: 30px;
    cursor: pointer;
}

/*-------cadastro---------- */

#cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    gap: 10px;
    cursor: pointer;
}


#btn-paragrafo{
    font-weight: var(--Font-Light);
    font-size: 13px;
    color: white;
}
#btn-paragrafo p{
    margin: -13px auto;
}

/*------------------------ */

/* -----botoes direita ----*/

