* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #e6e0d1;
}

.img-card {
	width: 100%;
	height: 500px;
	background-color: aliceblue;

	background-image: url("../Assets/img/CARD.jpg");
	background-size: cover;
	background-position: center;
}

.section-produtos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 80%;
	height: 100em;

	margin-top: 10px;
	background-color: white;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
}

.tile-category {
	display: flex;
	margin: 15px 0px 20px 8%;
}

.img-emoji {
	display: flex;
	width: 30px;
	height: 30px;
	margin-right: 15px;

	background-image: url("../Assets/Emojis/Emoji_1.png");
	background-size: cover;
}

.carrosel {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	/* background-color: blue; */
}

.swiper-slider-products {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	gap: 17px;
	/* background-color: red; */
}

.product {
	width: 278px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.info-product {
	width: 278px;
	margin-top: 20px;
}

.info-product h3 {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

.produc-image {
	width: 278px;
	height: 278px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 4px;
	box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.3) !important;
}

.rating-product {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rating {
	display: flex;
	float: left;
	margin-right: 20px;
	font-size: 25px;
	color: rgb(255, 226, 0);
	margin: 7px 10px 7px 0px;
}

.origin-price {
	color: #871e1e;
	font-weight: 500;
	text-align: center;
}

.descount-price-product {
	display: flex;
	align-items: end;
	justify-content: center;
	margin-top: 15px;
}

.descount-price {
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	margin-right: 7px;
}

.text-info {
	color: #7e7e7e;
	font-weight: 500;
}

/* CSS by Sarah */
.category {
	width: 90%;
}

.formula {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 14em;
	background-color: white;
}

.retangle {
	display: inline-flex;
	width: 12.2em;
	height: 7px;
	margin-bottom: 10px;
	border-radius: 7px;
	background-color: #16057e;
}

.retangle2 {
	display: inline-flex;
	width: 90%;
	height: 3px;
	border-radius: 8px;
	margin-bottom: 6px;
	background-color: #62626264;
}

.retancle4{
	display: inline-flex;
	width: 8em;
	height: 2px;
	border-radius: 8px;
	margin-bottom: 6px;
	background-color: #1a1a1ab4;
}

nav {
	width: 90%;
	display: flex;
	align-items: center;
	margin-top: 30px;
	justify-content: space-between;
}

.filters{
	display: flex;
	flex-direction: row;
	gap: 30px;
}

#purchaseForm {
	display: flex;
	width: 56%;
	gap: 30px;
	/* background-color: red; */
}

.filter {
	padding: 6px;
	padding-right: 15px;
	width: 10em;
}

#filter1{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.itensfilter{
	display: flex;
	flex-direction: column;
}