*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.div-text{
    text-align: center;
    margin-top: 15px;
    font-size: 17px;
    width: 400px;
}

.div-entrar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 420px;
    height: 320px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 50px auto;
}

#butao-entrar{
    width: 283px; /* Definindo a largura do botão */
    height: 76px; /* Definindo a altura do botão */
    background-color: #1424B0; /* Definindo a cor de fundo do botão (verde neste exemplo) */
    color: white; /* Definindo a cor do texto do botão como branco */
    border: none; /* Removendo a borda do botão */
    text-align: center; /* Centralizando o texto dentro do botão */
    text-decoration: none; /* Removendo a decoração de texto, como sublinhado */
    display: inline-block; /* Definindo o tipo de exibição como bloco em linha */
    font-size: 20px; /* Definindo o tamanho da fonte */
    margin: 4px 2px; /* Adicionando margens */
    cursor: pointer; /* Mudando o cursor para indicar que o botão é clicável */
    border-radius: 8px; /* Adicionando bordas arredondadas */
    margin-top: 55px;
}
#botao-cad{
    width: 283px; /* Definindo a largura do botão */
    height: 76px; /* Definindo a altura do botão */
    color: black; /* Definindo a cor do texto do botão como branco */
    border: 5px solid #1424B0; /* Removendo a borda do botão */
    text-align: center; /* Centralizando o texto dentro do botão */
    text-decoration: none; /* Removendo a decoração de texto, como sublinhado */
    display: inline-block; /* Definindo o tipo de exibição como bloco em linha */
    font-size: 20px; /* Definindo o tamanho da fonte */
    margin: 4px 2px; /* Adicionando margens */
    cursor: pointer; /* Mudando o cursor para indicar que o botão é clicável */
    border-radius: 8px; /* Adicionando bordas arredondadas */
    margin-top: 20px;
}

.div-text{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img-x{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-x a {
    position: absolute;
    right: 460px;
}
